/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family-basic: 'Inter-Variable', sans-serif;
  --font-family-accent: 'PressStart2P', fantasy;
  --font-weight-basic: 400;
  --font-weight-title: 700;
  --bg-color: #fff;
  --bg-image:     
    repeating-linear-gradient(#d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px),
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  --accent-color:#000;
  --button-text-color: var(--bg-color);
  --heart-contour-color: var(--accent-color);
  --heart-fill-color: #ff0000;
}